<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="PID">????</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} boot%X{context} %style{%5p}{green} %style{${sys:PID}}{magenta} --- [%t] %style{%c{1}}{cyan} : %style{%m%n}{Bright white}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>
    <Loggers>

        <AsyncLogger name="com.netflix.discovery" level="DEBUG"/>
        <AsyncLogger name="org.springframework.cloud" level="DEBUG"/>

        <AsyncRoot level="INFO">
            <AppenderRef ref="Console" />
        </AsyncRoot>
    </Loggers>
</Configuration>
